* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #56aeb3;
    color: #fff;
    padding: 20px 0;
}

/* Estilos para la imagen del logo */
.imagen-logo img {
    max-width: 150px;
}

/* Estilos para la barra de navegación */
.navbar-nav .nav-link {
    text-decoration: none;
    font-weight: bold;
    font-size: 120%;
    font-family: Segoe UI, sans-serif;
}

.navbar-nav .nav-link:hover {
    color: #cd461d;
}

header {
    background-color: #56aeb3;
    color: #fff;
    padding: 20px 0;
}

/* Estilos para la imagen del logo */
.imagen-logo img {
    max-width: 200px;
}

/* Estilos para la barra de navegación */
.navbar-nav .nav-link {
    text-decoration: none;
    font-weight: bold;
    font-size: 120%;
    font-family: Segoe UI, sans-serif;
}

.navbar-nav .nav-link:hover {
    color: #cd461d;
}



/*MEDIA QUERIE NAV BAR*/

@media (min-width: 300px){
    .offcanvas {
        display: none;
        /* Oculta el offcanvas en dispositivos menores a tablets */
    }

    .navbar {
        max-width: 100%;
        justify-content: center;
    }

    .navbar-nav {
        text-align: center;
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .navbar-nav .nav-item {
        font-size: 12px;
        display: block;
        text-align: center;
        margin-bottom: 8px;
    }

    .imagen-logo {
        text-align: center;
    }
   
    @media (min-width: 768px) {
        .navbar {
            max-width: 100%;
            display: flex;
            justify-content: center;
        }

        .navbar-nav {
            text-align: center;
            flex-direction: column;
            align-items: center;
        }

        .navbar-nav .nav-item {
            font-size: 16px;
            margin-bottom: 8px;
        }
    }

    @media (min-width: 992px) {
        .imagen-logo img {
            max-width: 200px;
        }

        .navbar-nav .nav-item {
            display: inline-block;
        }
    }


    /* Estilos para la IMAGEN PRINCIPAL */
    .imagen-principal img {
        width: 100%;
        height: auto;
        max-width: 100%;
    }


    /* ESTILOS BODY */
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        margin: 0;
        padding: 0;
    }

    main {
        max-width: 1000px;
        margin: auto
    }

    .titulo1 {
        text-align: center;
        color: #56aeb3;
    }

    #titulo2 {
        text-align: center;
        color: #86ad23;
    }

    #tituloblanco {
        color: #fff;
    }


    /*SOBRE LA CARRERA*/

    .negrilla {
        font-weight: bold;
        color: #86ad23;
    }

    #negrilla2 {
        font-weight: bold;
        color: #86ad23;
        text-align: center;
    }

    .parrafo {
        display: flex;
        justify-content: center;
        max-width: 95%;
        margin: 15px;
        text-align: justify;
    }


    .inscripcion-containers {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
        max-width: 500px;
        margin: 0 auto;
        color: #56aeb3;
        width: 80vw;
    }


    .inscripcion-box {
        text-align: center;
        margin-bottom: 40px;
        margin-left: 10px;
        border: 2px solid #56aeb3;
        padding: 10px;
        background-color: #56aeb3;

    }

    .inscripcion-box img {
        max-width: 100%;
        height: auto;
        max-height: 500px;
        margin-bottom: 20px;
        margin-left: 0;
        margin-right: 0;
    }

    .inscripcion-texto a {
        align-items: center;
        color: #008000;
        font-weight: bold;
        font-size: 16px;
        margin-left: 20px;
    }

    .inscripcion-texto a:hover {
        color: #cd461d;
    }


    /* MEDIA QUERIES */

    @media (max-width: 768px) {
        .inscripcion-containers {
            flex-direction: column;
            width: 100%;
        }

        .inscripcion-box img {
            max-width: 80%;
        }
    }


    @media (min-width: 574px) and (max-width: 992px) {
        .inscripcion-containers {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
        }

        .inscripcion-box {
            margin-bottom: 20px;
            max-width: 100%;
        }

        .inscripcion-box img {
            max-width: 80%;
            height: auto;
        }
    }


    @media and (min-width: 300px) and (max-width: 575px) {
        .inscripcion-containers {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .inscripcion-box {
            margin-bottom: 20px;
            max-width: 100%;
            margin-bottom: 40px;
            margin-left: 10px;
            border: 2px solid #56aeb3;
            padding: 10px;
            background-color: #56aeb3;
        }

        .inscripcion-box img {
            max-width: 100%;
            height: auto;
        }
    }


    /*FORMULARIO*/

    form {
        margin: 20px
    }

    form {
        position: relative;
        left: 30%;
        display: flex;
        flex-direction: column;
        background-color: #56aeb3;
        border: 2px solid #86ad23;
        border-radius: 10px;
        padding: 20px;
        width: 300px;
    }

    .formulario-parte ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
    }


    label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
    }

    input,
    select {
        width: 100%;
        padding: 10px;
        margin-bottom: 16px;
        border: 1px solid #008000;
        box-sizing: border-box;
    }

    button {
        background-color: #86ad23;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }


    /*SOBRE EL PARAMO*/

    iframe {
        width: 80%;
        height: 450px;
        margin: 20px;
    }


    .carousel-item img {
        height: 600px;
    }


    /*EXPO*/

    .informacion-expo {
        justify-content: space-between;
        display: flex;
        gap: 20px;
        margin-bottom: 20px;
    }

    .columna-izquierda,
    .columna-derecha {
        width: 48%;
    }

    .columna-derecha {
        padding-right: 10px;
    }

    .columna-izquierda img {
        width: 100%;
        height: 100%;
        max-width: 400px;
        object-fit: cover;

    }

    #listaid {
        padding: 0;
        margin-bottom: 10px;
    }



    /* PIE DE PAGINA*/
    footer {
        background-color: #86ad23;
        max-width: 100%;
        color: #fff;
        margin: 10px;
    }

    .custom-footer {
        text-align: center;
    }

    .custom-footer img {
        margin: 0;
        max-width: 40px;
        height: auto;
    }

    .texto-footer {
        background-color: #56aeb3;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .texto-footer p {
        margin: 0;
    }