/* EXPO */

.informacion-expo {
    justify-content: space-between;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;

    .columna-izquierda,
    .columna-derecha {
        width: 48%;

        &.columna-derecha {
            padding-right: 10px;
        }

        img {
            width: 100%;
            height: 100%;
            max-width: 400px;
            object-fit: cover;
        }
    }

    #listaid {
        padding: 0;
        margin-bottom: 10px;
    }
}

.inscripcion-box img {
    width: 100%;
    height: auto;
    max-height: 500px;
    transition: transform 2s ease-in-out;
    cursor: pointer;

    &:hover,
    &:focus {
        transform: scale(4);
    }
}