* {
    margin: 0;
    padding: 0;
}


/*IMAGEN PRINCIPAL*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;

    .imagen-principal {
        img {
            width: 100%;
            height: auto;
            max-width: 100%;
        }
    }
}