body {
    main {
        max-width: 80%;
        margin: auto;
    }
}

.titulo1 {
    text-align: center;
    color: #56aeb3;
}

#titulo2 {
    text-align: center;
    color: #86ad23;
}

#tituloblanco {
    color: #fff;
}