/*MEDIA QUERIE NAV BAR*/

@media (min-width: 300px) {
    .navbar {
        max-width: 100%;
        justify-content: center;
    }

    .navbar-nav {
        text-align: center;
        @include dflex(column, center);
        /*display: flex;
        flex-direction: column;
        align-items: center;*/
    }

    .navbar-nav .nav-item {
        font-size: 12px;
        display: block;
        text-align: center;
        margin-bottom: 8px;
    }

    .imagen-logo {
        text-align: center;
    }

    @media (min-width: 768px) {
        .navbar {
            max-width: 100%;
            @include jflex(center);
            /*display: flex;
            justify-content: center;*/
        }

        .navbar-nav {
            text-align: center;
            flex-direction: column;
            align-items: center;
        }

        .navbar-nav .nav-item {
            font-size: 16px;
            margin-bottom: 8px;
        }
    }

    @media (min-width: 992px) {
        .imagen-logo img {
            max-width: 200px;
        }

        .navbar-nav .nav-item {
            display: inline-block;
        }
    }
}


/* MEDIA QUERIES INSCRIPCION */

@media (max-width: 768px) {
    .inscripcion-containers {
        flex-direction: column;
        width: 100%;
    }

    .inscripcion-box img {
        max-width: 80%;
    }
}

@media (min-width: 576px) and (max-width: 992px) {
    .inscripcion-containers {
        @include dflex(column, center);
        /*display: flex;
        flex-direction: column;
        align-items: center;*/
        width: 80%;
    }

    .inscripcion-box {
        margin-bottom: 20px;
        max-width: 100%;
    }

    .inscripcion-box img {
        max-width: 80%;
        height: auto;
    }
}

@media (min-width: 300px) and (max-width: 575px) {
    .inscripcion-containers {
        @include dflex(column, center);
        /*display: flex;
        flex-direction: column;
        align-items: center;*/
    }

    .inscripcion-box {
        margin-bottom: 20px;
        max-width: 100%;
        margin-bottom: 40px;
        margin-left: 10px;
        border: 2px solid #56aeb3;
        padding: 10px;
        background-color: #56aeb3;
    }

    .inscripcion-box img {
        max-width: 100%;
        height: auto;
    }
}

/*KIT MEDIA QUERIE*/

@media (min-width: 300px) and (max-width: 575px) {
    .informacion-expo {
        flex-direction: column;
        gap: 10px;

        .columna-izquierda,
        .columna-derecha {
            width: 100%;

        }
    }
}

@media (min-width: 576px) and (max-width: 992px) {
    .informacion-expo {
        flex-direction: column;
        gap: 15px;

        .columna-izquierda,
        .columna-derecha {
            width: 100%;
        }
    }
}

/*FORM INSCRIPCION*/

@media (max-width: 992px) {
    form {
        left: 0;
        max-width: 100%;
    }

    .formulario-parte {
        display: flex;
        flex-direction: column;
    }

    .formulario-parte label {
        margin-bottom: 5px;
    }

    .formulario-parte ul li {
        display: block;
    }

    .formulario-parte input,
    .formulario-parte select,
    .formulario-parte ul {
        width: 100%;
    }

    .formulario-parte button {
        margin-top: 10px;
    }
}