/*GALERIA*/

iframe {
    width: 100%;
    height: 500px;
    margin: 20px;
}

.carousel-item img {
    height: auto;
    width: 100px;
}

.animacion1 {

    position: relative;
    overflow: hidden;
    width: fit-content;
    margin: 0 auto;

    h1 {
        color: #cd461d;
        font-size: 50px;
        font-weight: bold;
        letter-spacing: 6px;
        left: 0;
        transform: translateX(0);
        transition: transform 4s;

        &:hover {
            transform: translateX(calc(100% - 100vw));

        }
    }

    @media (max-width: 575px) {
        h1 {
            font-size: 16px;
        }
    }
}

.gradiente1 {
    margin: 10px;

    .radial {
        background: radial-gradient(circle, rgba(59, 173, 179, 0.726), #fff);
        height: 80px;
        @include dflex(column, center);
        justify-content: center;
    }

    a {
        align-items: center;
        color: #ffffff;
        font-weight: bold;
        font-size: 30px;
        margin-left: 20px;

        &:hover {
            color: #cd461d;
        }
    }

}